# 第2章: UNIXコマンド

`popular-names.txt` は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，`popular-names.txt`を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

## 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
!wc -l ../../data/popular-names.txt

2780 ../../data/popular-names.txt

## 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [2]:
!sed -e 's/\t/ /g' ../../data/popular-names.txt | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
sed: couldn't write 17 items to stdout: Broken pipe

In [3]:
!tr '\t' ' ' < ../../data/popular-names.txt | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [4]:
!expand -t 1 ../../data/popular-names.txt | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
expand: write error: Broken pipe
expand: write error

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [5]:
!cut -f 1 ../../data/popular-names.txt > ../../outputs/col1.txt

In [6]:
!cut -f 2 ../../data/popular-names.txt > ../../outputs/col2.txt

In [7]:
## Check
!cut -f 1 ../../outputs/col1.txt | head -n 10

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
cut: write error: Broken pipe

In [8]:
## Check
!cut -f 1 ../../outputs/col2.txt | head -n 10

F
F
F
F
F
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [9]:
!paste ../../outputs/col1.txt ../../outputs/col2.txt | head -n 10

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F
paste: write error: Broken pipe

## 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [10]:
!seq 1 100 | head -n 10

1
2
3
4
5
6
7
8
9
10